.container-products {
    font-family: Montserrat;
    height: auto;
    width: 100%;
    margin-bottom: 25px;
    box-sizing: content-box;
    margin-top: 80px;
}

.menu-tempo {
    background: rgb(15, 15, 15);
    height: 60px;
}

/*first header*/
.cabezera {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    box-sizing: content-box;
}

.cabezera h2 {
    font-size: 2rem;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    .cabezera {
        display: grid;
        grid-template-columns: 1fr;
    }
    .cabezera h2 {
        font-size: 1.8rem;
        padding-bottom: 50px;
    }
    .container-products {
        margin-top: 60px;
    }
}
@media screen and (max-width: 380px) {
    .cabezera h2 {
        font-size: 1.4rem;
        padding-bottom: 20px;
        text-align: center;
    }
    
    .container-products {
        margin-top: 40px;
    }
}


.filtros-cabeza {
    display: flex;
}

.filter {
    font-family: Montserrat;
    border-radius: 50px;
    background-color: #E8E8E8;
    border: none;
    margin: 10px;
    padding: 0.1rem 20px;
}

.filter1 {
    font-family: Montserrat;
    border-radius: 50px;
    background-color: #E8E8E8;
    border: none;
    margin: 10px;
    padding: 0.1rem 20px;
}

.fil {
    background-color: #E8E8E8;
    padding: 0.2rem 0;
    border: none;
    font-family: Montserrat;
    font-size: 0.9rem;
    color: #45484D;
}

@media screen and (max-width: 580px) {
    .filter1 {
        display: none;
    }

    .filter {
        width: 100%;
    }

    .fil {
        width: 100%;
    }
}

.conteCata {
    padding-top: 10px;
    padding-bottom: 20px;
    height: auto;
    font-family: Montserrat;
}

.filtros {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.filtros h3 {
    font-size: 0.9rem;
    font-weight: 500;
    padding-bottom: 5px;
    color: #5C5D61;
    font-family: Montserrat;
}

.cat-fil {
    margin: 10px;
}

.comboboxx {
    font-size: 0.9rem;
    font-family: Montserrat;
    padding: 5px 20px;
    border: none;
    border-radius: 50px;
    background-color: #E8E8E8;
    color: #45484D;

}

@media screen and (max-width: 525px) {
    .comboboxx {
        display: table;
        width: 100%;
    }

    .filtros {
        display: table;
    }
}



/*....end....*/

/*....Catalogo....*/

.catalogo {
    padding-top: 60px;
    margin-top: 30px;
    background-color: #F4F4F4;
}

.cont-cata {
    margin: auto;
    display: grid;
    width: 90%;
    grid-template-rows: repeat(5, minmax(auto, min-content));
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 150px;
    gap: 40px 30px;
    box-sizing: content-box;

    .itemss {
        color: white;
        height: auto;
        border-radius: 10px;
        background-color: #FFFFFF;
    }

    .names {
        padding: 20px;
        font-family: Montserrat;
    }

    .names h3 {
        color: black;
        font-size: 1.3rem;
        font-weight: 600;

    }

    .names p {
        color: #5C5D61;
        font-size: 0.9rem;
        line-height: 10px;
        font-weight: 600;
    }

    .names .mrcs {
        color: #5C5D61;
        font-size: 0.7rem;
        font-weight: 100;
        line-height: 1px;

    }

    .itemss img {
        background-size: cover;
        margin: auto;
    }

    .container-buton {
        display: flex;
        box-sizing: border-box;
        padding: 20px 5px;
        margin: auto;
        opacity: 0;
        transition: all 0.5s ease-out;
    }
    .container-buton:hover{
        opacity: 1; 
    }

    .button {
        background-color: #0378FB;
        margin: auto;
        border-radius: 50px;
        padding-right: 15px;
        border: none;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;

    }

    .button-trans {
        background-color: none;
        margin: auto;
        border-radius: 50px;
        padding-right: 10px;
        border: solid 0.1rem black;
        padding-left: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        cursor: pointer;
    }

    .button a {
        text-decoration: none;
        color: white;
        font-size: 0.7rem;
        font-family: Montserrat;
    }

    .button-trans a {
        text-decoration: none;
        color: black;
        font-size: 0.7rem;
        font-weight: bold;
        font-family: Montserrat;
    }

    .button-trans a:hover {
        color: black;
    }
}

/*Screem Grid*/
@media screen and (min-width: 1920px) {
    .cont-cata {
        width: 80%;
    }
}

@media screen and (max-width: 1067px) {
    .cont-cata {
        grid-template-rows: repeat(7, minmax(auto, min-content));
    }

}

@media screen and (max-width: 700px) {
    .cont-cata {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

}

@media screen and (max-width: 650px) {
    .cont-cata {
        grid-template-rows: repeat(13, minmax(auto, min-content));
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        width: 80%;
    }

    .itemss img {
        padding: 40px;
    }
}

@media screen and (max-width: 350px) {
    .cont-cata {
        width: 90%;
    }

    .itemss img {
        padding: 20px;
    }
}

/*end*/