
.homes h3{  
    text-align: center;
    margin: 20px;
    font-weight: 400;
    padding-bottom: 5px;
    font-size: 2.125rem;
    color: #fff;
}
.homes{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    font-family: Montserrat;
    position:absolute;
    left: 50%;
    transform: translate(-50%, -180%);
}
a .boton-personalizado-home{
    font-weight: bold;
    font-size: 0.875rem;
    font-family: Montserrat;
    color: #171A20;
}
.boton-personalizado-home {    
    padding-top:8px;
    padding-bottom:8px;
    width: 284px;
    border-radius:35px;
    font-size: 0.875rem;
    border:none; 
    transition: all .3s ease-in-out;
    }
   
    .boton-personalizado-home:hover{
        background-color: #ece6e6;
        transition: all .3s ease-in-out;
    }
 

/*-----------------------------------------------------------------------------------*/
/*@media Screen*/
@media screen and (max-width: 900px) {

    .BanerIn .d-block{
        height: 500px;
        object-position:left;
        -o-object-position: 0rem;
        object-fit: cover;
         }
         .homes{
            height: 100px;
        }
            .homes h3{  
                font-size: 1.3rem;
                margin: 10px;
            }
            .homes{
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 80px;
            }
  }

  @media screen and (max-width: 360px) {
    .homes h3{  
        font-size: 24px;
    }
    a .boton-personalizado-home{
        font-weight: bold;
        font-size: 0.75rem;
    }
    .boton-personalizado-home {    
        width: 100%;
        height: 2.5rem;

        }
        .homes{
            width: 90%;
        }
  }






