  .App {
    margin: auto;
    background-color: #FFF;
    padding: 30px;
    font-family: Montserrat;
    overflow: hidden;
  }

  .card {
    border: none;
    background-color: #F8F8F8;
  }

  .cart-top img {
    width: 100%;
    padding: 90px;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-color: #F8F8F8;

  }


  /*Modif Slider*/
  .slick-slide>div {
    margin: 0 10px;

  }

  .slick-list {
    margin: 0 12px;

  }

  .slick-next:before {
    margin-left: -28px;

  }

  .slick-prev:before {
    margin-right: -15px;


  }

  .slick-prev:before,
  .slick-next:before {
    font-family: 'slick';
    font-size: 3.125rem;
    line-height: 1;
    opacity: 0;
    color: #a09c9c;
    transition: all .3s ease-in-out;
  }

  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0;
  }

  .App:hover {

    .slick-prev:before,
    .slick-next:before {

      opacity: 1;
    }

    .slick-prev.slick-disabled:before,
    .slick-next.slick-disabled:before {
      opacity: .25;
    }
  }

  /*--------END----------*/


  .cart-top h4 {
    font-size: 1.125rem;
    margin: auto;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #FFF;

  }

  @media screen and (max-width: 1400px) {
    .cart-top img {

      padding: 50px;

    }
  }

  @media screen and (max-width: 1200px) {
    .cart-top img {

      padding: 50px;

    }

    .slick-prev:before,
    .slick-next:before {
      display: none;
    }

    .App {
      padding: 30px 15px;

    }
  }

  @media screen and (max-width: 768px) {
    .cart-top img {

      padding: 30px;

    }

    .cart-top h4 {
      font-size: 1rem;
    }



  }

  @media screen and (max-width: 620px) {

    .cart-top h4 {
      font-size: 0.875rem;
    }



  }

  @media screen and (max-width: 480px) {
    .cart-top img {

      padding: 40px;

    }

  }

  @media screen and (max-width: 340px) {
    .cart-top img {

      padding: 10px;

    }


  }